<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link  href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Mar 09 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="bg-theme bg-theme1">

<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">


    <div class="height-100v d-flex align-items-center justify-content-center">
        <div class="card card-authentication1 mb-0">
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div class="alert text-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert text-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert text-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card-content p-2">
                    <div class="card-title text-uppercase pb-2">Réinitialiser le mot de passe</div>
                    <p class="pb-2">Veuillez saisir votre adresse électronique. Vous recevrez un lien pour créer un nouveau mot de passe par courriel.</p>
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmailAddress" class="">Adresse email</label>
                            <div class="position-relative has-icon-right">
                                <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" name="email" placeholder="Email Address">
                                <div class="form-control-position">
                                    <i class="icon-envelope-open"></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
                    </form>
                </div>
            </div>
            <div class="card-footer text-center py-3">
                <p class="text-warning mb-0">Retourner à la <a href="{{ path('app_login') }}"> page de connexion</a></p>
            </div>
        </div>
    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->



</div><!--wrapper-->

<script src="{{  asset('back/js/jquery.min.js')}}"></script>
<script src="{{  asset('back/js/popper.min.js')}}"></script>
<script src="{{  asset('back/js/bootstrap.min.js')}}"></script>

<!-- simplebar js -->
<script src="{{ asset('back/plugins/simplebar/js/simplebar.js ')}}"></script>
<!-- sidebar-menu js -->
<script src="{{asset ('back/js/sidebar-menu.js') }}"></script>

<!-- Custom scripts -->
<script src="{{  asset('back/js/app-script.js')}}"></script>

</body>
</html>



