{% extends 'base.html.twig' %}

{% block title %}Edit Eventplace{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <h1>Edit Eventplace</h1>

    <div class="container">



        <div class="card o-hidden border-0 shadow-lg my-2">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create a Place</h1>
                            </div>

                            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}


                            <form class="user">
                                <div class="form-group">
                                    {{ form_label(form.nom, 'Nom du place') }}
                                    {{ form_widget(form.nom ,{'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
                                    {{ form_errors(form.nom,{'attr': {'class':'text-danger'}}) }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_label(form.codep, "Code Postal" ) }}
                                        {{ form_widget(form.codep, {'attr': {'class': 'form-control form-control-user ','placeholder': 'Code Postal'}}) }}
                                        {{ form_errors(form.codep,{'attr': {'class':'text-danger'}}) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_label(form.adresse, "Adresse" ) }}
                                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control form-control-user ','placeholder': 'Adresse'}}) }}
                                        {{ form_errors(form.adresse,{'attr': {'class':'text-danger'}}) }}
                                    </div>
                                </div>
                                

                                {{ form_widget(form.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                                {{ form_widget(form.cancel, {'attr': {'class': 'form-control btn btn-light mr-2' }}) }}





                                {{ form_end(form) }}
                            </form>



                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="p-5">
                        <a class="form-control btn btn-info btn-sm"  href="{{ path('app_eventplace_index') }}">back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('eventplace/_delete_form.html.twig') }}
        </div>

    </div>

{% endblock %}
