{% extends 'baseBack.html.twig' %}

{% block title %}Eventplace index{% endblock %}

{% block body %}
    <h1>Eventplace index</h1>
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Codep</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventplace in eventplaces %}
            <tr>
                <td>{{ eventplace.id }}</td>
                <td>{{ eventplace.nom }}</td>
                <td>{{ eventplace.codep }}</td>
                <td>{{ eventplace.adresse }}</td>
                <td>
                    <a href="{{ path('app_eventplace_show', {'id': eventplace.id}) }}">show</a>
                    <a href="{{ path('app_eventplace_edit', {'id': eventplace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    <a href="{{ path('app_eventplace_new') }}">Create new</a>
{% endblock %}
