{% extends 'base.html.twig' %}

{% block title %}Reponse
{% endblock %}

{% block body %}

	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h1>Reponse</h1>

							<table class="table">
								<tbody>
									<tr>
										<th>Id</th>
										<td>{{ reponse.id }}</td>
									</tr>
									<tr>
										<th>Objectif</th>
										<td>{{ reponse.objectif }}</td>
									</tr>
									<tr>
										<th>Texte</th>
										<td>{{ reponse.texte }}</td>
									</tr>
								</tbody>
							</table>

							<a href="{{ path('app_reponse_index') }}">back to list reponse</a>

							<a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>

							{{ include('reponse/_delete_form.html.twig') }}
						</div>
					</div>

				</div>

			</div>
		</section>
	{% endblock %}
