{% extends 'base.html.twig' %}

{% block title %}Eventplace{% endblock %}

{% block body %}
    <h1>Eventplace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventplace.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eventplace.nom }}</td>
            </tr>
            <tr>
                <th>Codep</th>
                <td>{{ eventplace.codep }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ eventplace.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eventplace_index') }}">back to list</a>

    <a href="{{ path('app_eventplace_edit', {'id': eventplace.id}) }}">edit</a>

    {{ include('eventplace/_delete_form.html.twig') }}
{% endblock %}
