{% extends 'baseBack.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 10px;
        }
        td {
            word-break: break-all;
        }
    </style>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}

        <div class="alert alert-danger alert-dismissible fade show">
            {{ message }}
        </div>
    {% endfor %}

    <section class="section profile">
        <div class="row">


            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">{{ user.nom }} {{ user.prenom }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Age</div>
                                    <div class="col-lg-9 col-md-8">{{ user.age }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Adresse</div>
                                    <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Numéro de téléphone</div>
                                    <div class="col-lg-9 col-md-8">{{ user.numTel }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Role</div>
                                    <div class="col-lg-9 col-md-8">{{ user.role }}</div>
                                </div>


                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.nom) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.prenom) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Emal</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.email) }}
                                            <div class="text-danger">
                                                {{ form_errors(form.email) }}
                                                {% for message in app.flashes('danger') %}
                                                    {{ message }}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Numéro de téléphone</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.num_tel) }}
                                            <div class="text-danger">
                                                {{ form_errors(form.num_tel) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.address) }}
                                            <div class="text-danger">
                                                {{ form_errors(form.address) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Age</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.age) }}
                                            <div class="text-danger">
                                                {{ form_errors(form.age) }}
                                            </div>
                                        </div>
                                    </div>
                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Role</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_widget(form.role) }}

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Mot de passe</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_widget(form.password) }}
                                        <div class="text-danger">
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                    {{ form_end(form) }}

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}